*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body{
    background: linear-gradient(#0a4147, #071f24);
    width: 100%;
}

p{
    color: #ffffff;
    text-align:center;
    font-size: 20px;
    justify-content: center;
}

.header {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #0C7078;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    align-items: center;
    width: 100%;
    display: flex;
}

.logo img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.logo h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    color: #fff;
}

.logo h1:hover {
    cursor: default;
}

.header nav ul {
    width: 100%;
    display: flex;
    list-style: none;
}

.header nav a {
    height: 100%;
    padding: 0px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.header nav a:hover {
    color: #e8e82e;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.nav {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: #0C7078;;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    display: flex;
    position: fixed;
    padding: 10px;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 999;
    backdrop-filter: blur(10px);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
}

.menu img {
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin-right: 10px;
}

.sidebar ul {
    width: 100%;
    list-style: none;
}

.sidebar li {
    margin: 10px;
}

.sidebar a {
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    padding: 0 10px;
}

.sidebar nav a:hover {
    color: #e8e82e;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.sidebar img {
    width: 30px;
    height: 30px;
}

section {
    padding-top: 7vh;
    padding-bottom: 7vh;
    margin: 0 5rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

section h2 {
    padding-top: 4rem;
    margin-bottom: 10px;
    text-align: center;
    color:#ffffff;
    font-size: 30px;
}

section h3{
    font-size: 25px;
}

section img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.probo{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}

.probo img{
    width: 300px;
    height: 300px;
    border-radius: 10% 30% 50% 70%;
}

.probo p{
    max-width: 600px;
}

.backM{
    position: fixed;
    background: none;
    border: none;
    outline: none;
    right: 0;
    bottom: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    z-index: 999;
}

.backM img{
    width: 50px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 12rem;
    color: #fff;
    gap: 5rem;
}

.info h2 {
    font-size: 40px;
    padding-top: 5px;
}
    
.info h1 {
    font-size: 55px;
    color: #6DA5C0;
}

.section-text {
    justify-content: center;
    max-width: 450px; /**/
}

.roller {
    display:flex;
    margin-top: 8px;
    font-size: 25px;
    font-family: 'Ubuntu';
    font-weight: 600;
    justify-content: center;
    height: 30px;
    text-transform: uppercase;
    overflow: hidden;
}

.roller span {
    position: relative;
    color: #e8e82e;
    animation: animation 10s ease infinite;
    z-index: 0 auto;
}

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.downloadCV {
    font-weight: 500;
    margin: 1rem;
    width: 110px;
    height: 30px;
    outline: none;
    background-color: #0C7078;
    border: #000000 0.15rem solid;
    color: #ffffff;
    border-radius: 10px;
}

.downloadCV:hover {
    cursor: pointer;
    border: #ffffff 0.15rem solid;
    background-color: #000000;
    color: #ffffff;
}

.socialMedia {
    display: flex;
    justify-content: center;
}

.socialMedia img {
    margin: 8px;
    width: 40px;
    height: 40px;
}

.icon {
    cursor: pointer;
}

.educ{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.educ img{
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 30%;
    margin: auto;
}

.educ h3{
    margin: 10px;
    text-align: center;
}

article{
    justify-content: center;
    margin: 10px;
    padding: 1rem;
    max-width: 300px;
    outline: none;
    background-color: #0e4c58;
    border: #000000 0.15rem solid;
    color: #ffffff;
    border-radius: 10px;
}

article p{
    color:#ffffff;
}

.prog{
    margin: 10px;
    padding: 1rem;
    outline: none;
    background-color: #0F988C;
    border: #000000 0.15rem solid;
    color: #072E33;
    border-radius: 10px;
}

.DEV{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.DEV img{
    width: 40px;
    height: 40px;
    border-radius: 0;
}

.prolan{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #0e4c58;
    outline: none;
    border: none;
    height: fit-content;
    width: 100px;
}

.prolan p{
    margin: 5px;
    text-align: center;
    font-weight: normal;
    color: #ffffff;
}

.prolan img{
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 0;
    margin: auto;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.details{
    background-color: #0e4c58;
    color: #ffffff;
    outline: none;
    border: none;
    height: fit-content;
    max-width: 450px;
    margin: 10px;
    border-radius: 10px;
    padding: 12px;
    gap: 0.7rem;
}

.details h3{
    text-align: center;
    margin: 5px;
}

.details img{
    display: flex;
    margin: auto;
    border-radius: 13px;
    height: 280px;
    padding-bottom: 12px;
}

.details button{
    display: flex;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #000000;
    background-color: #ffffff;
    color: #0f867c;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    outline: none;
    cursor: pointer;
}

.details button:hover{
    border: 2px solid #ffffff;
    background-color: #000000;
}

.form{
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 820px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

form{
    padding: 2.3rem 2.3rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.contact-img{
    background-color:#0f867c;
    position: relative;
}

.contact-img::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #0f867c;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

.contact-img::after{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #0f867c;
    transform: rotate(45deg);
    top: -13px;
    right: 100px;
}

.contact-img img{
    display: flex;
    margin: auto;
    width: 300px;
    height: 300px;
    padding: 2rem;
}

.contact-info {
    padding: 2.3rem 2.3rem;
}

.contact-info h3{
    color: #0F988C;
    font-size: 1.5rem;
    line-height: 1;
    margin: 12px;
}

.contact-info p{
    color: #0e4c58;
}

.information{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.det img{
    width: 30px;
    height: 30px; 
    padding: 10px;
    border-radius: 0;
}

.det img:hover{
    background-color: #15566367;
    border-radius: 15px;
}

footer {
    text-align: center;
    color: #888686;
    margin: 20px;
}

@media(max-width: 800px){
    .header{
        display: none;
    }

    .nav{
        display: flex;
    }

    .sidebar{
        display: none;
    }

    .form{
        grid-template-columns: 1fr;
    }

    .contact-form::before{
        top: -13px;
        left: initial;
        right: 70px;
    }
}

@media(max-width: 600px){
    .sidebar{
        width: 100%;
    }

    section{
        margin: 5rem;
    }

    section{
        margin: 0 2.5rem;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }

    section{
        margin: 3rem;
    }

    form{
        padding: 1rem;
    }

    section{
        margin: 0 1.3rem;
    }

    section img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    .info h2{
        font-size: 30px;
    }

    .info h1{
        font-size: 45px;
    }

    .backM img{
        width: 30px;
    }

    .contact-info{
        max-width: 260px;
    }

    .contact-img img{
        width: 250px;
        height: 250px;
    }
}

@keyframes animation {
    0%, 100%{
        top: 0;
    }
    20%{
        top: 0;
    }
    25%{
        top: -30px;
    }
    45%{
        top: -30px;
    }
    50%{
        top: -60px;
    }

    70%{
        top: -60px;
    }

    75%{
        top: -90px;
    }

    90%{
        top: -90px;
    }
}